form {
    display: flex;
    padding: 1rem;
    border-top: 1px solid #333;
    background-color: var(--bg-sidebar);
    gap: 0.5rem;
}

textarea {
    flex: 1;
    padding: 0.8rem;
    border-radius: var(--radius);
    border: none;
    resize: none;
    background-color: #2b2b2b;
    color: var(--text-primary);
}

button {
    background-color: var(--accent);
    color: #000;
    border: none;
    border-radius: var(--radius);
    padding: 0.8rem 1.2rem;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #00b8d4;
}
