:root {
    --bg-main: #121212;
    --bg-sidebar: #1e1e1e;
    --bg-chat: #181818;
    --accent: #00e5ff;
    --text-primary: #e0e0e0;
    --text-secondary: #9e9e9e;
    --radius: 10px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    background-color: var(--bg-main);
    color: var(--text-primary);
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#root {
    width: 95%;
    max-width: 1200px;
    height: 90dvh;
    display: flex;
    border-radius: var(--radius);
    overflow: hidden;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
}

.messages-container {
    display: flex;
    flex-direction: column;
}
